.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    height: 7rem;
    position: fixed;
    width: 100%;
    z-index: 99999999;
    padding: 0 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

.navbar ul li {
    color: #141414;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    list-style: none;
    color: white;
    font-weight: lighter;
}

.navbar ul li:hover {
    color: var(--color-primary);
}

.navbar__logo {
    width: 15rem;
    background-color: white;
    object-fit: cover;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 8px;
}