
.App {
    overflow-x: hidden;
}

.whatsapp{
    width: 5rem;
    height: 5rem;
    transition: 0.2s;
    cursor: pointer;
    position: fixed;
    bottom: 20rem; 
    right: 2rem; 
    z-index: 999;
    opacity: 0.7;
}

.whatsapp:hover{
    opacity: 1;
}