:root {
  --color-primary: #0F0E0E;
  --color-secundary: #212121;
  --color-text: #ECF2F5;
  --color-yellow: #D8D92F;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-text);
}

/* Ancho y color del scrollbar */
/* Para WebKit */
::-webkit-scrollbar {
  width: 8px;
}

/* Para Firefox */
/* width: 12px; */

/* Fondo del scrollbar */
/* Para WebKit */
::-webkit-scrollbar-track {
  background: white;
}

/* Color de la manija del scrollbar */
/* Para WebKit */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Para Firefox */
/* background: #888; */

/* Efecto de la manija al hacer hover */
/* Para WebKit */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Para Firefox */
/* background: #555; */
