.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-yellow);
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--color-secundary);
}
